@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Administrador.cshtml";
}

    <!DOCTYPE HTML>
    <html>

    <body>
        <!-- Banner -->
        <section class="banner full">
            <article>
                <img src="~/images/fondo1.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>Mi Tienda SyG</p>
                        <h2>Abarrotes</h2>
                    </header>
                </div>
            </article>
            <article>
                <img src="~/images/fondo2.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>La Mejor tienda</p>
                        <h2>Cerca a tu casa</h2>
                    </header>
                </div>
            </article>
            <article>
                <img src="~/images/fondo3.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>Los mejores precios</p>
                        <h2>Para semana</h2>
                    </header>
                </div>
            </article>
            <article>
                <img src="~/images/fondo4.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>La mejor tienda</p>
                        <h2>Para tu familia</h2>
                    </header>
                </div>
            </article>
            <article>
                <img src="~/images/fondo5.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>Donde encontrarás</p>
                        <h2>Lo que necesitas</h2>
                    </header>
                </div>
            </article>
        </section>


        <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
            </div>
            <div class="copyright">
                &copy; Ventas SyG. All rights reserved.
            </div>
        </footer>
    </body>
</html>